p {
  font-family: 'Arial';
  font-size: 15px;
  color: #000000;
}

h1 {
  font-family: 'Arial Black';
  font-size: 35px;
  color: #000000;
  line-height: 0;
}

h2 {
  font-family: 'Arial';
  font-size: 30px;
  color: #000000;
  line-height: 0;
}

h3 {
  font-family: 'Arial';
  font-size: 20px;
}

li {
  font-family: 'Arial';
  font-size: 13px;
}

body {
  background-color: LightBlue;
}